[flake8]

# Ignore formatting (Black handles)
ignore = E101,E111,E114,E115,E116,E117,E12,E13,E2,E3,E401,E5,E70,W1,W2,W3,W5

per-file-ignores =
    # Ignore fixture imports (imported-but-unused, redefinition of unused 'fixture')
    conftest.py: F401, F811

